# Environment variables
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Dados temporários
*.log

# Jupyter
.ipynb_checkpoints/

# Banco local
*.sqlite3